*,
*::before,
*::after {
    box-sizing: border-box;
}
/* using rem unit */
html {
    font-size: 62.5%;
}
a {
    text-decoration: none;
}
img {
    display: block;
    max-width: 100%;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 1;
}

.accordion {
    margin-top: 25px;
    margin-bottom: 25px;
    max-width: 500px;
    /* padding: 2rem;
    border-radius: 1rem;
    background-color: white;
    display: inline-block;
    position: relative;
    left: 30%;
    transform: translateX(-50%);
    margin: 50px auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 500px; */
}

.accordion-header {
    padding: 20px;
    border-radius: 4px 4px 0 0;
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion-header * {
    pointer-events: none;
}

.accordion-content {
    border: 1px solid #eee;
    border-top: 0;
    color: #333;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.6;
    height: 0;
    overflow: hidden;
    transition: all 0.25a;
}

.accordion-content-inner {
    padding: 20px;
}

.accordion-content.is-active {
    height: auto;
}

.fa {
    padding-left: 150px;
}
