*,
*::before,
*::after {
    box-sizing: border-box;
}
/* using rem unit */
html {
    font-size: 62.5%;
}
a {
    text-decoration: none;
}
img {
    display: block;
    max-width: 100%;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 1;
}
.noti {
    position: fixed;
    left: 15px;
    bottom: 15px;
    border-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 8px;
    display: flex;
    max-width: 400px;
    height: 130px;
    transform: translateY(150%);
    animation: noti 4s forwards infinite linear;
}

@keyframes noti {
    20%,
    80% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(150%);
    }
}

.noti-image {
    width: 30%;
    flex-shrink: 0;
    p15
}
